#ifndef _CONFIG_H
#define _CONFIG_H

// WiFi
const char* WiFi_SSID = "";
const char* WiFi_Password = "";
const char* WiFi_Hostname = "myNode";
const String WiFi_IP = "192.168.1.1";
const String WiFi_DNSServer = "192.168.1.254";
const String WiFi_Gateway = "192.168.1.254";
const String WiFi_Subnet = "255.255.255.0";
//# ### #

//MQTT
const char* mqtt_server = "192.168.1.254";
const char* nodeTopic = "/neXn/433/nodes/";
const char* commandTopic = "/neXn/433/commands/";
const char* mqtt_username = "";
const char* mqtt_password = "";
const char* clientID = "testNode";
const char* capabilities[] = { "433", "WLAN", "MQTT", "OTA" };
const char* commandlist[] = { "reset", "restart", "switch", "socket", "genuine", "original", "info", "information" };
//# ### #

//433 Switch DataPin
const int trasmitterDataPin = 32;
//# ### #

//ArduinoOTA
const int otaPort = 3232;
const char* otaPassword = "";
const char* otaMD5Password = "";
//# ### #

#endif // !CONFIG_H